---
import '../styles/footer.css';

const platform = {
    github: "github",
    linkedin: "linkedin"
} 
const username = {
    github: "vladimirmoreno",
    linkedin: "vladimirmoreno"
};
// https://www.linkedin.com/in/vladimirmoreno/

// Obtener el año actual para el copyright
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-copyright">
        <p class="text-sm">© {currentYear} - Todos los derechos reservados</p>
      </div>      
      <div class="footer-links">
        <p>¡Más información sobre mis proyectos en 
          <a href={`https://www.${platform.github}.com/${username.github}`} 
             class="footer-link">
            {platform.github}
          </a>!
        </p>
      </div>
      <div class="footer-links">
        <p>Conectemos en 
          <a href={`https://www.${platform.linkedin}.com/in/${username.linkedin}`} 
             class="footer-link">
            {platform.linkedin}
          </a>!
        </p>
      </div>
    </div>
  </div>
</footer>